.navbar{

    float: right;
    padding-right: 10%;
    padding-top: 2%;

}
.list_style{
    padding-right: 50px;
    color:#4700D8 ;
    font-size: 18px;
}
.home{
    padding-right: 20px;
}
.about{

}
.profile{

}
.cart{

}